@import url('https://fonts.googleapis.com/css?family=Abel|Nixie+One|Open+Sans+Condensed:300|Quicksand');

// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Abel', sans-serif;
// font-family: 'Nixie One', cursive;

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nixie One', cursive !important;
}

// mixin

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
      @content;
    }
  }

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.top-sec{
    padding: 5px 0;
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(229, 57, 53, 0.05);
}
.logo{
    a{
        text-decoration: none;
        transition: all 1s ease;
        &:hover{
            text-decoration: none;
        }
    }
    img{
        width: 75px;
        float: left;
        margin-right: 15px;
    }
    h1{
        padding: 8px 0;
        margin: 0px;
        color: #ffffff;
        font-size: 32px;
        font-weight: 900;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #333333;
        &:hover{
            text-shadow: 1px 1px 1px #cccccc;
        }
        @include mobile {
            text-align: center !important;
            padding-bottom: 10px !important;
            margin: 0px;
        }
    }
}
.top-nav{
    ul{
        margin: 0;
        padding: 0;
        @include mobile {
            position: absolute;
            right: 0;
            left: 0;
            text-align: center;
        }
    }
    li{
        list-style: none;
        padding: 0;
        margin: 0;
        float: right;
        @include mobile {
            text-align: center !important;
            float: none !important;
            display: inline;
        }
    }
    a{
        text-decoration: none;
        display: inline-block;
        padding: 20px 10px;
        text-align: center;
        color: #ffffff;
        text-shadow: 1px 1px 1px #333333;
        font-size:12px; 
        text-transform: uppercase;
        &:hover{
            text-decoration: none;
            color: #e53935;
            text-shadow: 1px 1px 1px #cccccc;
        }
    }
}

.slider{
    background: url('../images/banner.jpg') no-repeat center;
    background-size: cover;
    height: 600px;

}
.search-sec{
    position: relative;
    text-align: center;
    top: 250px;
    text-shadow: 1px 1px 1px #333333;
    @include mobile {
        top: 200px;
    }
    h2{
        color: #ffffff;
    }
    p{
         color: #ffffff
    }
    a.search-b{
        text-decoration: none;
    }
    .search-i{
        border: 1px solid #e53935;
        border-radius: 0px;
        background: rgba(255, 255, 255, 0.75);
        &:focus{
            border: 1px solid #e53935;
        }
    }
    .search-b{
        background: #e53935;
        color: #ffffff;
        font-weight: bold;
        font-size: 22px;
        border-radius: 0px;
        span{
            @include mobile {
                display: none;
            }
        }
       
    }
}
.v-user{
    background: #e53935;
    padding: 30px 0;
    color: #f0f0f0;
    h3{
        font-weight: bold;
    }
    .btn{
        float: right;
        margin-top: 15px;
        border-radius: 0;
        color: #ffffff;
        font-weight: bold;
        text-shadow: 1px 1px 0px #999999;
    }
}
.top-sec-sub{
    background: #e53935;
}
.filters{
    background: #f6f6f6;
    box-shadow: .5px .5px 1px #dddddd;
    padding: 15px;
    margin-bottom: 35px;
    h2{
        font-size: 26px;
        text-transform: uppercase;
        font-weight: bold
    }
    h3{
        font-size: 18px;
        text-transform: uppercase;
    }
    
    .form-control {
        width: 100%;
        border-radius: 0px;
    }
    .filter{
        margin-bottom: 15px;
    }

    .member-filter{
        margin-bottom: 15px;
    }
    input#myRange {
        width: 100%;
    }
  input[type="checkbox"] {
    display: none;
    
    + label {
      display: inline;
      position: relative;

      &:before {
        display: inline-block;
        width: 21px;
        height: 21px;
        content: ' ';
        border: 2px solid #e3ddd8;
        vertical-align: middle;
        margin-right: 15px;
        cursor: pointer;
        z-index: 10;
      }
    }
    
    &:checked + label {
      &:before {
        border: 1px solid #333333;
      }
      
      &:after {
        width: 7px;
        height: 13px;
        border: 2px solid #333333;
        border-left: none;
        border-top: none;
        content: ' ';
        position: absolute;
        left: 7px;
        bottom: 1px;
        transform: rotatez(45deg);
        cursor: pointer;
        z-index: 20;
      }
    }
  
}
    
}
.search-again{
    background: #f6f6f6;
    box-shadow: .5px .5px 1px #dddddd;
    margin: 25px 0;
    padding: 15px 0;
    h3{
        padding: 0 15px;
        font-size: 26px;
    }
    .form-inline {
        
        .btn{
            border-radius: 0px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .form-control{
        width: 100% !important;
    }
}
.venue-list{
    .venues{
        background: #f6f6f6;
        box-shadow: .5px .5px 1px #dddddd;
        padding: 15px;
        margin-bottom: 15px;
        .fa{
            color: #777777;
        }
        img{
            width: 100%;
        }
        h3{
            margin: 0;
            padding: 5px 0;
            font-weight: bold;
            font-size: 20px;
        }
        p{
            margin: 0;
            padding: 4px 0;
        }
        h4{
            font-size: 12px;
            font-weight: bold;
        }
        .btn{
            border-radius: 0;
        }
        .fecilitys{
            border-top: 1px solid #eeeeee;
            padding-top: 5px;
            margin-top: 10px;
            ul{
                margin: 0;
                padding: 0;
            }
            li{
                list-style: none;
                float: left;
                margin-right: 15px;
                padding: 0px;
                font-size: 13px;
                
            }
        }
    }
}
.venue-details{
    margin: 15px 0;
    .nav{
        background: #f6f6f6;
        border: 1px solid #dfdfdf;
        .nav-link{
            padding: 10px 10px;
            border-right: 1px solid #eeeeee;
            color: #333333;
            &:hover{
                color: #000000;
                font-weight: bold;
            }
        }
        .active{
            color: #000000;
            font-weight: bold;
        }
    }
    img{
        width: 100%;
    }
    h2{
        margin: 0px;
        padding: 5px 0;
        font-weight: bold;
    }
    h5{
        margin: 0px;
        padding: 3px 0;
        font-size: 16px;
        font-weight: bold;
    }
    p{
        margin: 0px;
        padding: 5px;
    }
    .breadcrumb{
        border-radius: 0px;
    }
    .search-again-details{
        background: #f6f6f6;
        box-shadow: .5px .5px 1px #dddddd;
        padding: 15px;
        margin-bottom: 15px;
        .form-control{
            border-radius: 0px;
        }
    }
    .contact-details{
        background: #f6f6f6;
        box-shadow: .5px .5px 1px #dddddd;
        padding: 15px;
        margin-bottom: 15px;
        
    }
    .card{
        margin-bottom: 15px;
        .card-header{
            font-size: 18px;
            font-weight: bold;
        }
    }
    .photos{
        margin-bottom: 15px;
        #myCarousel .list-inline {
            white-space:nowrap;
            overflow-x:auto;
        }
        
        #myCarousel .carousel-indicators {
            position: static;
            left: initial;
            width: initial;
            margin-left: initial;
        }
        
        #myCarousel .carousel-indicators > li {
            width: initial;
            height: initial;
            text-indent: initial;
            overflow: hidden;
        }
        
        #myCarousel .carousel-indicators > li.active img {
            opacity: 0.7;
        }
        .slider-controler{
            background: rgba(0, 0, 0, 0.25);
            position: absolute;
            bottom: 0px;
            font-size: 36px;
            a{
                color: #ffffff;
                padding: 5px;
            }
        }
    }

    ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
        float: left;
        margin-right: 15px;
        padding: 0px;
        font-size: 13px;
        width: 23.7%;
        background: #f6f6f6;
        margin: 5px;
        .fa{
            background: #e53935;
            width: 25px;
            text-align: center;
            padding: 6px;
            color: #ffffff;
            margin-right: 5px;
        }
    }
}
.card{
    border-radius: 0px !important;
    img{
        border-radius: 0px;
    }
    .btn{
        border-radius: 0px;
    }
}

.btn{
    border-radius: 0px !important;
}
.form-control {
    width: 100%;
    border-radius: 0px !important;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}
.nearby{
    background: #f6f6f6;
    box-shadow: .5px .5px 1px #dddddd;
    padding: 15px;
    margin-top: 15px;
    ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    li{
        padding: 0;
        margin: 0;
        float: none;
        width: 100%;
    }
    a{
        display: block;
        padding: 5px;
        text-decoration: none;
        margin: 5px 0;
        color: #333;
        font-size: 14px;
        &:hover{
            text-decoration: none;
            color: #000000;
            font-weight: bold;
        }
        .fa{
            background: none;
            color: #333333;
            padding: 2px;
            margin: 0;
        }
    }
}
// subpage header
.subpage-header{
    overflow: hidden;
    color: #ffffff;
} 
.sub-page{
    margin: 25px 0;
}
.about-us{
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
    }
}
.divi{
    height: 1px;
    width: 300px;
    background: #e53935;
    display: inherit;
    margin: 0 auto;
    margin-bottom: 25px;
}
// main body
.main-body{
    .discover{
        padding: 70px 0;
        text-align: center;
        h2{
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 5px;
        }
        img{
            width: 120px;
            height: 120px;
            border: 1px solid #e53935;
            border-radius: 100%;
        }
        h3{
            font-weight: bold;
            padding: 10px 0;
            font-size: 24px;
        }
        p{}
    }
}
.options{
    .opt{
        text-align: center;
        padding: 70px 0; 
        background: url('../images/opt.jpg') no-repeat center fixed;
        background-size: cover;
        h2{
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 5px;
            color: #ffffff;
        }
        img{
            width: 100px;
            height: 100px;
            border: 1px solid #e53935;
            border-radius: 100%;
            color: #ffffff;
        }
        h3{
            font-weight: bold;
            padding: 10px 0;
            font-size: 24px;
            color: #ffffff;
        }
        p{
           color: #ffffff
        }
    }
}
.p-venue{
    padding: 70px 0;
    h2{
        text-align: center;
        font-weight: bold;
    }
    .venue{
        background: #f0f0f0;
        box-shadow: 0px 2px 3px #cccccc;
        img{
            width: 100%;
        }
        .btn{
            border-radius: 0;
            color: #ffffff;
        }
        .v-content{
            padding: 10px;
        }

    }
}

.brand-slider{
    background: #f0f0f0;
    padding: 15px 0;
    #carouselExampleControls{
        width: 100%;
        .carousel-item{
            padding: 15px;
            img{
                width: 100%;
            }
        }
    }
}
.login-form{
    padding: 15px;
    background: #cdcdcd;
    margin: 25px;
    border-radius: 15px;
}
footer{
    background: #333333;
    .footer-opt{
        padding: 45px 0;
        h3{
            padding: 15px 0;
            font-size: 20px;
            font-weight: 900;
            color: #dddddd;
        }
        ul{
            margin: 0;
            padding: 0;
        }
        li{
            list-style: none;
        }
        p{
            color: #cccccc;
            font-size: 14px;
        }
        a{
            color: #cccccc;
            text-decoration: none;
            font-size: 13px;
            &:hover{
                color: #f0f0f0;
            }
        }
    }
    .copyright{
        background: #222222;
        p{
            margin: 0;
            padding: 15px 0;
            font-size: 12px;
            text-transform: uppercase;
            color: #f0f0f0;
            a{
                color: #ffffff
            }
        }
    }
}